    <!-- TODO: About -->
    <div class="container-fluid about py-5" id="about">
      <div class="container py-5">
        <div class="row g-5 align-items-center">
          <div class="col-lg-5">
            <div class="h-100">
              <img
                src="/static/assets-index/img/about-img.jpg"
                class="img-fluid w-100 h-100"
                alt=""
              />
            </div>
          </div>
          <div
            class="col-lg-7"
            style="background: rgba(255, 255, 255, 0.8) url(/static/assets-index/img/about-img-1.png) no-repeat center center; background-size: cover; background-blend-mode: overlay;">
            <h5 class="section-about-title pe-3">About Us</h5>
            <h1 class="mb-4">
              Welcome to
              <span class="text-primary">Tour Planner Yogyakarta</span>
            </h1>
            <p class="mb-4">
              Tour Planner Yogyakarta is your ultimate travel companion for
              exploring the cultural and natural wonders of Yogyakarta. We
              understand that with the abundance of destinations, choosing the
              perfect one can be overwhelming. That's why we offer a
              personalized decision support system to recommend destinations
              based on your preferences, ensuring a seamless and memorable
              travel experience.
            </p>
            <p class="mb-4">
              With Tour Planner Yogyakarta, you can discover the hidden gems of
              this vibrant city, from its historic temples to its pristine
              beaches, adventurous treks, and rich educational sites. Whether
              you are planning a cultural journey, a nature retreat, or an
              educational tour, we have you covered.
            </p>
            <p class="mb-4">
              Our platform is designed to help both tourists and local
              businesses manage and promote destinations, contributing to the
              sustainable development of Yogyakarta’s tourism industry.
            </p>
            <h6>Our Mission</h6>
            <p class="mb-4">
              Our mission is to make your Yogyakarta experience exceptional by
              offering tailored recommendations, simplifying your travel
              planning, and ensuring that you visit the destinations that best
              match your interests.
            </p>
            </h6>
            <h5>Discover Yogyakarta’s Best with Tour Planner Yogyakarta!</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->
