<!-- TODO: Developer Team -->
<div class="container-fluid guide py-5" id="developer-team">
  <div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px">
      <h5 class="section-title px-3">DEVELOPER TEAM</h5>
      <h1 class="mb-0">Our Talented Development Team</h1>
    </div>
    <div class="row g-4 mx-auto" style="width: 1100px">
      <!-- 1 -->
      <div class="col-md-4 col-lg-4">
        <div class="guide-item">
          <div class="guide-img">
            <div class="guide-img-efects">
              <img
                src="/static/assets-index/img/guide-1.jpg"
                class="img-fluid w-100 rounded-top"
                alt="Image"
              />
            </div>
            <div class="guide-icon rounded-pill p-2">
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-github"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <div class="guide-title text-center rounded-bottom p-4">
            <div class="guide-title-inner">
              <h4 class="mt-3">Salsabila Naura Putri</h4>
              <p class="mb-0">Data & Decision Analys</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="col-md-4 col-lg-4">
        <div class="guide-item">
          <div class="guide-img">
            <div class="guide-img-efects">
              <img
                src="/static/assets-index/img/guide-2.jpg"
                class="img-fluid w-100 rounded-top"
                alt="Image"
              />
            </div>
            <div class="guide-icon rounded-pill p-2">
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-github"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <div class="guide-title text-center rounded-bottom p-4">
            <div class="guide-title-inner">
              <h4 class="mt-3">Muhammad Akbar Hamid</h4>
              <p class="mb-0">Front-End Developer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="col-md-4 col-lg-4">
        <div class="guide-item">
          <div class="guide-img">
            <div class="guide-img-efects">
              <img
                src="/static/assets-index/img/guide-3.jpg"
                class="img-fluid w-100 rounded-top"
                alt="Image"
              />
            </div>
            <div class="guide-icon rounded-pill p-2">
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-github"></i
              ></a>
              <a class="btn btn-square btn-primary rounded-circle mx-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <div class="guide-title text-center rounded-bottom p-4">
            <div class="guide-title-inner">
              <h4 class="mt-3">Sugeng Dwi Cahyono</h4>
              <p class="mb-0">Back-End Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Developers End -->
