<!-- TODO: Features -->
<div class="container-fluid bg-light service py-5" id="features">
  <div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px">
      <h5 class="section-title px-3">FEATURES</h5>
      <h1 class="mb-0">Explore Features</h1>
    </div>
    <div class="row g-4">
      <!-- Left -->
      <div class="col-lg-6">
        <div class="row g-4">
          <!--1-->
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
              style="height: 200px"
            >
              <div class="service-content text-end">
                <h5 class="mb-4">Smart Recommendation</h5>
                <p class="mb-0">
                  This intelligent system provides tailored destination
                  recommendations based on your preferences, considering key
                  factors like distance, ticket prices, ratings, and available
                  facilities for the best travel experience.
                </p>
              </div>
              <div class="service-icon p-4">
                <i class="fa fa-thumbs-up fa-4x text-primary"></i>
              </div>
            </div>
          </div>
          <!--3-->
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
              style="height: 200px"
            >
              <div class="service-content text-end">
                <h5 class="mb-4">Real-Time Distance Calculator</h5>
                <p class="mb-0">
                  Effortlessly plan your journey with real-time distance
                  calculations between your current location and selected
                  tourist spots, using automatic geolocation for accurate and
                  relevant travel information.
                </p>
              </div>
              <div class="service-icon p-4">
                <i class="fa fa-location-arrow fa-4x text-primary"></i>
              </div>
            </div>
          </div>
          <!--5-->
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
              style="height: 200px"
            >
              <div class="service-content text-end">
                <h5 class="mb-4">Interactive Map Explorer</h5>
                <p class="mb-0">
                  Visualize destinations and plan your travel route with ease
                  using the interactive map feature, providing a smooth and
                  intuitive navigation experience.
                </p>
              </div>
              <div class="service-icon p-4">
                <i class="fa fa-map fa-4x text-primary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right -->
      <div class="col-lg-6">
        <div class="row g-4">
          <!--2-->
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
              style="height: 200px"
            >
              <div class="service-icon p-4">
                <i class="fa fa-brain fa-4x text-primary"></i>
              </div>
              <div class="service-content">
                <h5 class="mb-4">Decision Support System (DSS)</h5>
                <p class="mb-0">
                  Make informed destination choices with the help of a decision
                  support system powered by the TOPSIS method, which analyzes
                  multiple factors to deliver the most suitable recommendations.
                </p>
              </div>
            </div>
          </div>
          <!--4-->
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
              style="height: 200px"
            >
              <div class="service-icon p-4">
                <i class="fa fa-filter fa-4x text-primary"></i>
              </div>
              <div class="service-content">
                <h5 class="mb-4">Advanced Search & Filters</h5>
                <p class="mb-0">
                  Easily search and discover tourist destinations based on your
                  preferred categories, such as cultural & historical sites,
                  educational spots, nature & recreation, and adventure.
                </p>
              </div>
            </div>
          </div>
          <!--6-->
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
              style="height: 200px"
            >
              <div class="service-icon p-4">
                <i class="fa fa-user fa-4x text-primary"></i>
              </div>
              <div class="service-content">
                <h5 class="mb-4">Instant Access (Guest Mode)</h5>
                <p class="mb-0">
                  Enjoy quick access to the app’s core features without the need
                  for login. Guest Mode allows you to explore destinations, view
                  recommendations, and calculate distances without creating an
                  account.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->
