<!-- TODO:  Navbar & Hero Start -->
<div class="container-fluid position-relative p-0" id="home">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
      <img src="/static/assets-index/img/logo.png" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a href="#home" class="nav-item nav-link active">Home</a>
        <a href="#about" class="nav-item nav-link">About</a>
        <a href="#features" class="nav-item nav-link">Features</a>
        <a href="#attractions" class="nav-item nav-link">Attractions</a>
        <a href="#type-of-attractions" class="nav-item nav-link"
          >Type of Attractions</a
        >
        <a href="#map-section" class="nav-item nav-link">Map</a>
        <a href="#developer-team" class="nav-item nav-link">Developer Team</a>
      </div>
      <a
        href="/guest/dashboard-guest"
        class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4"
        >Guest</a
      >
    </div>
  </nav>

  <!-- Carousel Start -->
  <div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li
          data-bs-target="#carouselId"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Carousel 1 -->
        <div class="carousel-item active">
          <img
            src="/static/assets-index/img/carousel-2.jpg"
            class="img-fluid"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="p-3" style="max-width: 900px">
              <h4
                class="text-white text-uppercase fw-bold mb-4"
                style="letter-spacing: 3px"
              >
                EXPLORE YOGYAKARTA
              </h4>
              <h1 class="display-2 text-capitalize text-white mb-4">
                Find Your Perfect Destination in the Heart of Java
              </h1>
              <p class="mb-5 fs-5">
                Yogyakarta awaits you with stunning landscapes, rich culture,
                and adventure. Let us guide you to the best spots for an
                unforgettable experience.
              </p>
              <div class="d-flex align-items-center justify-content-center">
                <a
                  class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                  href="/guest/dashboard-guest"
                  >Start Journey</a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Carousel 2 -->
        <div class="carousel-item">
          <img
            src="/static/assets-index/img/carousel-1.jpg"
            class="img-fluid"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="p-3" style="max-width: 900px">
              <h4
                class="text-white text-uppercase fw-bold mb-4"
                style="letter-spacing: 3px"
              >
                EXPLORE YOGYAKARTA
              </h4>
              <h1 class="display-2 text-capitalize text-white mb-4">
                Unlock the Best Travel Destinations at Your Fingertips
              </h1>
              <p class="mb-5 fs-5">
                Plan your perfect getaway with personalized recommendations
                tailored to your preferences. Start exploring now and make the
                most of your Yogyakarta experience.
              </p>
              <div class="d-flex align-items-center justify-content-center">
                <a
                  class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                  href="/guest/dashboard-guest"
                  >Start Journey</a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Carousel 3 -->
        <div class="carousel-item">
          <img
            src="/static/assets-index/img/carousel-3.jpg"
            class="img-fluid"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="p-3" style="max-width: 900px">
              <h4
                class="text-white text-uppercase fw-bold mb-4"
                style="letter-spacing: 3px"
              >
                EXPLORE YOGYAKARTA
              </h4>
              <h1 class="display-2 text-capitalize text-white mb-4">
                Find Unique Places for an Unforgettable Journey
              </h1>
              <p class="mb-5 fs-5">
                Whether you're looking for cultural heritage or thrilling
                adventures, we've got you covered. Explore Yogyakarta's hidden
                gems today.
              </p>
              <div class="d-flex align-items-center justify-content-center">
                <a
                  class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                  href="/guest/dashboard-guest"
                  >Start Journey</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselId"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon btn bg-primary"
          aria-hidden="false"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselId"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon btn bg-primary"
          aria-hidden="false"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Carousel End -->
</div>
<!-- Navbar & Hero End -->
