<!-- Base -->
{% extends "layouts/base-guest.html" %}

<!-- Title -->
{% block title %} Tourist Attractions - Guest {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Content -->
{% block content %}

<!-- Start Contect -->

aasdajwdbnaiwudbwad<br />
wadwadnawdfwa fawfnawiufifuwanbfwa<br />
wafnwiuafnwaiufwafwafwa<br />
fnwafuwan

<!-- End Contect -->

{%endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
