<!-- Base -->
{% extends "layouts/base.html" %}

<!-- Title -->
{% block title %} Analysis - User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Content -->
{% block content %}

<!-- Start Contect -->

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Analysis</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/user/dashboard-user"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item"><a href="#">Analysis</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Filter of Attractions</h5>
          </div>
          <div class="card-body">
            <form action="/dss/analysis" method="post">
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="type-of-recreations" class="col-form-label"
                    >Category</label
                  >
                </div>
                <div class="col-sm-9 mb-3">
                  <select
                    class="form-control bordered-dropdown"
                    name="category"
                    id="category"
                  >
                    <option value="all">All Category</option>
                    {% for category in categories %}
                      <option value="{{ category.id }}">
                        {{ category.name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="type-of-recreations" class="col-form-label"
                    >Weight</label
                  >
                </div>
                <div class="col-sm-9 mb-3">
                  <ul>
                    <li><strong>Distance:</strong> {{ weight.distance }}</li>
                    <li><strong>Entry Price:</strong> {{ weight.entry_price }}</li>
                    <li><strong>Facility:</strong> {{ weight.facility }}</li>
                    <li><strong>Rating:</strong> {{ weight.rating.value }}</li>
                    <li><strong>Rating Stars:</strong> {{ weight.rating.stars }}</li>
                    <li><strong>Rating Reviews:</strong> {{ weight.rating.reviews }}</li>
                  </ul>
                </div>
              </div>

              <div class="form-group row">
                <div>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    style="margin-top: 20px"
                    id="weightButton"
                  >
                    Analysis
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Rangking</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">No</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Attractions</th>
                    <th class="text-center align-middle">Ranking</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-striped">
                    {% for row in topsis.rank %}
                      <td>{{ loop.index }}</td>
                      <td>{{ row.alternative }}</td>
                      <td>{{ row.attraction }}</td>
                      <td>{{ row.rank }}</td>
                    {% endfor %}
                    <!-- Isi data di sini -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Attraction</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Alternative
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      Distance (KM) (C1)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Entry Price (C2)
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      Rating (C3)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Facility (C4)
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star (C3.1)</th>
                    <th class="text-center align-middle">Comment (C3.2)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Evaluation Matrix (xij)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Alternative
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      Distance (KM) (C1)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Entry Price (C2)
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      Rating (C3)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Facility (C4)
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star (C3.1)</th>
                    <th class="text-center align-middle">Comment (C3.2)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Normalized Performance Rating (rij)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Alternative
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      Distance (KM) (C1)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Entry Price (C2)
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      Rating (C3)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Facility (C4)
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star (C3.1)</th>
                    <th class="text-center align-middle">Comment (C3.2)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Normalized Weight Rating (yij)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Alternative
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      Distance (KM) (C1)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Entry Price (C2)
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      Rating (C3)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Facility (C4)
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star (C3.1)</th>
                    <th class="text-center align-middle">Comment (C3.2)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Positive Ideal Solution (A<sup>+</sup>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="5" class="text-center align-middle">
                      PARAMETER
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      DISTANCE (KM) (C<sub>1</sub>)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      ENTRY PRICE (C<sub>2</sub>)
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      RATING (C<sub>3</sub>)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      FACILITY (C<sub>4</sub>)
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      STAR (C<sub>3.1</sub>)
                    </th>
                    <th class="text-center align-middle">
                      COMMENT (C<sub>3.2</sub>)
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      y<sub>1</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>2</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>3</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>4</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>5</sub><sup>+</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Negative Ideal Solution (A<sup>-</sup>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="5" class="text-center align-middle">
                      PARAMETER
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      DISTANCE (KM) (C<sub>1</sub>)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      ENTRY PRICE (C<sub>2</sub>)
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      RATING (C<sub>3</sub>)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      FACILITY (C<sub>4</sub>)
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      STAR (C<sub>3.1</sub>)
                    </th>
                    <th class="text-center align-middle">
                      COMMENT (C<sub>3.2</sub>)
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      y<sub>1</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>2</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>3</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>4</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>5</sub><sup>+</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Positive Distance (D<sub>i</sub><sup>+</sup>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">No</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Attractions</th>
                    <th class="text-center align-middle">
                      D<sub>i</sub><sup>+</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- Isi data di sini -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Negative Distance (D<sub>i</sub><sup>-</sup>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">No</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Attractions</th>
                    <th class="text-center align-middle">
                      D<sub>i</sub><sup>-</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- Isi data di sini -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Preference Value (V<sub>i</sub>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">No</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Attractions</th>
                    <th class="text-center align-middle">V<sub>i</sub></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- Isi data di sini -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->

    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<!-- End Contect -->

{%endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="./script.js"></script>
{% endblock javascripts %}
