<!-- Base -->
{% extends "layouts/base.html" %}

<!-- Title -->
{% block title %} Analysis - User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Content -->
{% block content %}

<!-- Start Contect -->

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Analysis</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/user/dashboard-user"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item"><a href="#">Analysis</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->

    <div class="row">
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Generate Your Location</h5>
          </div>
          <div class="card-body">
            <div class="label">
              <p id="address">Address will appear here...</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Filter of Attractions</h5>
          </div>
          <div class="card-body">
            <form action="/dss/analysis" method="post">
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="type-of-recreations" class="col-form-label"
                    >Category</label
                  >
                </div>
                <div class="col-sm-9 mb-3">
                  <select
                    class="form-control bordered-dropdown"
                    name="category"
                    id="category"
                  >
                    <option value="all">All Category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">
                      {{ category.name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="type-of-recreations" class="col-form-label"
                    >Weight</label
                  >
                </div>
                <div class="col-sm-9 mb-3">
                  <ul>
                    <li><strong>Distance:</strong> {{ weight.distance }}</li>
                    <li>
                      <strong>Entry Price:</strong> {{ weight.entry_price }}
                    </li>
                    <li><strong>Facility:</strong> {{ weight.facility }}</li>
                    <li><strong>Rating:</strong> {{ weight.rating.value }}</li>
                    <li>
                      <strong>Rating Stars:</strong> {{ weight.rating.stars }}
                    </li>
                    <li>
                      <strong>Rating Reviews:</strong> {{ weight.rating.reviews
                      }}
                    </li>
                  </ul>
                </div>
              </div>

              <div class="form-group row">
                <div>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    style="margin-top: 20px"
                    id="weightButton"
                  >
                    Analysis
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Attraction</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Type of Attractions
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>1</sub>) Distance (KM)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star (C3.1)</th>
                    <th class="text-center align-middle">Comment (C3.2)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for attraction in attractions %}
                  <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ attraction.name }}</td>
                    <td class="text-center">
                      {{ attraction.distance | round(2) }}
                    </td>
                    <td class="text-center">{{ attraction.entry_price }}</td>
                    <td class="text-center">{{ attraction.stars }}</td>
                    <td class="text-center">{{ attraction.reviews }}</td>
                    <td class="text-center">{{ attraction.facility }}</td>
                    <td class="text-center">{{ attraction.category.name }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Rangking</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">No</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Preferences</th>
                    <th class="text-center align-middle">Ranking</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in topsis.rank %}
                  <tr class="table-striped">
                    <td>{{ loop.index }}</td>
                    <td>{{ row.alternative }}</td>
                    <td>{{ row.attraction }}</td>
                    <td>{{ row.rank }}</td>
                    <!-- Isi data di sini -->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Aggregated Criteria</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for alt in topsis.aggregated_data %}
                  <tr>
                    <td>{{ alt[3]|round(2) }}</td>
                    <td>{{ alt[0] }}</td>
                    <td>{{ alt[2]|round(2) }}</td>
                    <td>{{ alt[1] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Normalized Data</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for alt in topsis.norm_data %}
                  <tr>
                    <td>{{ alt[3] }}</td>
                    <td>{{ alt[0] }}</td>
                    <td>{{ alt[2] }}</td>
                    <td>{{ alt[1] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Weighted Data</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      Weight: {{ topsis.criteria_weights[3] }}
                    </th>
                    <th class="text-center align-middle">
                      Weight: {{ topsis.criteria_weights[0] }}
                    </th>
                    <th class="text-center align-middle">
                      Weight: {{ topsis.criteria_weights[2] }}
                    </th>
                    <th class="text-center align-middle">
                      Weight: {{ topsis.criteria_weights[1] }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for alt in topsis.weighted_data %}
                  <tr>
                    <td>{{ alt[3] }}</td>
                    <td>{{ alt[0] }}</td>
                    <td>{{ alt[2] }}</td>
                    <td>{{ alt[1] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Ideal Solution</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">Solutions</th>
                    <th class="text-center align-middle">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                </thead>
                {% if topsis.solution %}
                <tbody>
                  <tr>
                    <td>Postitif Ideal Solution (A<sup>+</sup>)</td>
                    <td>{{ topsis.solution.ideal_best[3] }}</td>
                    <td>{{ topsis.solution.ideal_best[0] }}</td>
                    <td>{{ topsis.solution.ideal_best[2] }}</td>
                    <td>{{ topsis.solution.ideal_best[1] }}</td>
                  </tr>
                  <tr>
                    <td>Negatif Ideal Solution (A<sup>-</sup>)</td>
                    <td>{{ topsis.solution.ideal_worst[3] }}</td>
                    <td>{{ topsis.solution.ideal_worst[0] }}</td>
                    <td>{{ topsis.solution.ideal_worst[2] }}</td>
                    <td>{{ topsis.solution.ideal_worst[1] }}</td>
                  </tr>
                </tbody>
                {% endif %}
              </table>
            </div>
          </div>
        </div>

        <!-- Card -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Distance to Ideal Solution</h5>
            </div>
            <div class="card-body table-border-style">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center align-middle">Distance</th>
                      <th class="text-center align-middle">
                        (C<sub>1</sub>) Distance
                      </th>
                      <th class="text-center align-middle">
                        (C<sub>2</sub>) Entry Price
                      </th>
                      <th class="text-center align-middle">
                        (C<sub>3</sub>) Rating
                      </th>
                      <th class="text-center align-middle">
                        (C<sub>4</sub>) Facility
                      </th>
                    </tr>
                  </thead>
                  {% if topsis.distance %}
                  <tbody>
                    <tr>
                      <td>Distance to Ideal Postif</td>
                      <td>{{ topsis.distance.dist_ideal_best[3] }}</td>
                      <td>{{ topsis.distance.dist_ideal_best[0] }}</td>
                      <td>{{ topsis.distance.dist_ideal_best[2] }}</td>
                      <td>{{ topsis.distance.dist_ideal_best[1] }}</td>
                    </tr>
                    <tr>
                      <td>Distance to Ideal Negatif</td>
                      <td>{{ topsis.distance.dist_ideal_worst[3] }}</td>
                      <td>{{ topsis.distance.dist_ideal_worst[0] }}</td>
                      <td>{{ topsis.distance.dist_ideal_worst[2] }}</td>
                      <td>{{ topsis.distance.dist_ideal_worst[1] }}</td>
                    </tr>
                  </tbody>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>

  <!-- End Contect -->

  {%endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
  <script src="{{ url_for('static', filename='assets/js/pages/client-location.js') }}"></script>
  {% endblock javascripts %}
</div>
