<!-- Base Fullscreen -->
{% extends "layouts/base-fullscreen.html" %}

<!-- Signin -->
{% block title %} Signup {% endblock %}

<!-- Start Content -->
{% block content %}

<!-- [Signup ] Start -->

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img
              src="/static/assets/images/logo-dark.png"
              alt=""
              class="img-fluid mb-4"
            />

            <h4 class="mb-3 f-w-400">Signup</h4>

            <form role="form" method="post" action="">

              <!-- Full Name -->
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="feather icon-user"></i>
                </span>
                <input
                  type="text"
                  name="fullname"
                  placeholder="Full Name"
                  class="form-control"
                  required
                />
              </div>

              <!-- Username -->
              <div class="input-group mb-3">
                <span class="input-group-text"
                  >@</i
                ></span>
                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  class="form-control"
                  required
                />
              </div>

              <!-- Email -->
              <div class="input-group mb-3">
                <span class="input-group-text"
                  ><i class="feather icon-mail"></i
                ></span>
                <input
                  type="email"
                  name="email"
                  placeholder="Email"
                  class="form-control"
                  required
                />
              </div>

              <!-- Password -->
              <div class="input-group mb-3">
                <span class="input-group-text"
                  ><i class="feather icon-lock"></i
                ></span>
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  class="form-control"
                  required
                />
              </div>

              <!-- Role Selection -->
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <i class="feather icon-shield"></i>
                </span>
                <select 
                  name="role" 
                  class="form-control" 
                  required>
                  <option value="" disabled selected>Select Role</option>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
              </div>

              <!-- Button -->
              <button
                type="submit"
                name="register"
                class="btn btn-primary btn-block mt-2 mb-4"
              >
                Signup
              </button>

              <p class="mb-2">
                Already have an account?
                <a href="/accounts/signin" class="f-w-400">Sign In</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [Signup] End -->

{% endblock content %}
<!-- End Content -->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
