<nav class="pcoded-navbar menupos-fixed menu-light">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <!---->
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption"></li>
        <li class="nav-item">
          <a href="/guest/dashboard-guest" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-home"></i></span
            ><span class="pcoded-mtext">Dashboard</span></a
          >
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Tourist Explorer</label>
        </li>
        <li class="nav-item">
          <a href="/guest/tourist-attractions-guest" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-map"></i></span
            ><span class="pcoded-mtext">Tourist Attractions</span></a
          >
        </li>

        <!---->
        <li class="nav-item pcoded-menu-caption">
          <label>Decision Support</label>
        </li>
        <li class="nav-item">
          <a href="/guest/weighting-guest" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-anchor"></i></span
            ><span class="pcoded-mtext">Weighting</span></a
          >
        </li>
        <li class="nav-item">
          <a href="/guest/analysis-guest" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-bar-chart-2"></i></span
            ><span class="pcoded-mtext">Analysis</span></a
          >
        </li>
        <li class="nav-item">
          <a href="/guest/results-guest" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext">Results</span></a
          >
        </li>
        <!---->
      </ul>
    </div>
  </div>
</nav>
