<nav class="pcoded-navbar menupos-fixed menu-light">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption"></li>
        <li class="nav-item">
          <a href="/admin/dashboard-admin" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-home"></i></span
            ><span class="pcoded-mtext">Dashboard</span></a
          >
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Manage Users</label>
        </li>
        <li class="nav-item">
          <a href="/admin/manage-users" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-users"></i></span
            ><span class="pcoded-mtext">Manage Users</span></a
          >
        </li>
        <li class="nav-item">
          <a href="/admin/manage-admins" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-users"></i></span
            ><span class="pcoded-mtext">Manage Admins</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
