


<nav class="pcoded-navbar menupos-fixed menu-light">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <!---->
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption"></li>
        <li class="nav-item">
          <a href="/dashboard" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-home"></i></span
            ><span class="pcoded-mtext">Dashboard</span></a
          >
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Tourist Explorer</label>
        </li>
        <li class="nav-item">
          <a href="/tourist/attractions" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-map"></i></span
            ><span class="pcoded-mtext">Tourist Attractions</span></a
          >
        </li>
{#        <li class="nav-item">#}
{#          <a href="/user/distance-generator-user" class="nav-link"#}
{#            ><span class="pcoded-micon"#}
{#              ><i class="feather icon-navigation"></i></span#}
{#            ><span class="pcoded-mtext">Distance Generator</span></a#}
{#          >#}
{#        </li>#}

        <!---->
        <li class="nav-item pcoded-menu-caption">
          <label>Decision Support</label>
        </li>
        <li class="nav-item">
          <a href="/user/weighting-user" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-anchor"></i></span
            ><span class="pcoded-mtext">Weighting</span></a
          >
        </li>
        <li class="nav-item">
          <a href="/user/analysis-user" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-bar-chart-2"></i></span
            ><span class="pcoded-mtext">Analysis</span></a
          >
        </li>

        <!---->
        <li class="nav-item pcoded-menu-caption">
          <label>Modify Entries</label>
        </li>
        <li class="nav-item">
          <a href="/user/alternative-user" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-map-pin"></i></span
            ><span class="pcoded-mtext">Alternative</span></a
          >
        </li>
        <li class="nav-item">
          <a href="/user/parameter-user" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-sliders"></i></span
            ><span class="pcoded-mtext">Parameter</span></a
          >
        </li>
        <li class="nav-item">
          <a href="/user/criteria-user" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-award"></i></span
            ><span class="pcoded-mtext">Criteria</span></a
          >
        </li>
        <li class="nav-item">
          <a href="/user/weight-user" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-target"></i></span
            ><span class="pcoded-mtext">Weight</span></a
          >
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Manage Users</label>
        </li>
        <li class="nav-item">
          <a href="/admin/manage-users" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-users"></i></span
            ><span class="pcoded-mtext">Manage Users</span></a
          >
        </li>
        <!---->
      </ul>
    </div>
  </div>
</nav>
