<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Parameter User</title>
  </head>
  <body>
    <h1>Parameter User</h1>
    <a href="/">Landing Page</a> <br /><br />
    <a href="/user/dashboard-user">Dashboard User</a> |
    <a href="/user/tourist-attractions-user">Tourist Attractions User</a> |
    <a href="/user/distance-generator-user">Distance Generator User</a> |
    <a href="/user/weighting-user">Weighting User</a> |
    <a href="/user/analysis-user">Analysis User</a> |
    <a href="/user/results-user">Results User</a> |
    <a href="/user/alternative-user">Alternative User</a> |
    <a href="/user/parameter-user">Parameter User</a> |
    <a href="/user/weight-user">Weight User</a><br /><br />
    <a href="/">Logout</a>
  </body>
</html>
