<!-- Base -->
{% extends "layouts/base-user.html" %}

<!-- Title -->
{% block title %} Analysis - User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Content -->
{% block content %}

<!-- Start Contect -->

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Analysis</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/user/dashboard-user"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item"><a href="#">Analysis</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Type of Attraction</h5>
          </div>
          <div class="card-body">{..type of attraction}</div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Attraction</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Alternative
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>3.1</sub>) Star
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3.2</sub>) Comment
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Evaluation Matrix (x<sub>ij</sub>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Alternative
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>3.1</sub>) Star
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3.2</sub>) Comment
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Normalized Performance Rating (r<sub>ij</sub>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Alternative
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>3.1</sub>) Star
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3.2</sub>) Comment
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Normalized Weight Rating (y<sub>ij</sub>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="3">#</th>
                    <th class="text-center align-middle" rowspan="3">
                      Alternative
                    </th>
                    <th class="text-center align-middle" rowspan="3">
                      Attraction
                    </th>
                    <th class="text-center align-middle" colspan="5">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>3.1</sub>) Star
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3.2</sub>) Comment
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Positive Ideal Solution (A<sup>+</sup>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="5" class="text-center align-middle">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>3.1</sub>) Star
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3.2</sub>) Comment
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      y<sub>1</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>2</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>3</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>4</sub><sup>+</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>5</sub><sup>+</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Negative Ideal Solution (A<sup>-</sup>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="5" class="text-center align-middle">
                      Parameter
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>1</sub>) Distance
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>2</sub>) Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">
                      (C<sub>3</sub>) Rating
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      (C<sub>4</sub>) Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      (C<sub>3.1</sub>) Star
                    </th>
                    <th class="text-center align-middle">
                      (C<sub>3.2</sub>) Comment
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">
                      y<sub>1</sub><sup>-</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>2</sub><sup>-</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>3</sub><sup>-</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>4</sub><sup>-</sup>
                    </th>
                    <th class="text-center align-middle">
                      y<sub>5</sub><sup>-</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Positive Distance (D<sub>i</sub><sup>+</sup>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">#</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Attractions</th>
                    <th class="text-center align-middle">
                      D<sub>i</sub><sup>+</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- Isi data di sini -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Negative Distance (D<sub>i</sub><sup>-</sup>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">#</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Attractions</th>
                    <th class="text-center align-middle">
                      D<sub>i</sub><sup>-</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- Isi data di sini -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Preference Value (V<sub>i</sub>)</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">#</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Attractions</th>
                    <th class="text-center align-middle">V<sub>i</sub></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- Isi data di sini -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Rangking</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">#</th>
                    <th class="text-center align-middle">Alternatif</th>
                    <th class="text-center align-middle">Attractions</th>
                    <th class="text-center align-middle">Ranking</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- Isi data di sini -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<!-- End Contect -->

{%endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
