<!-- Base -->
{% extends "layouts/base-user.html" %}

<!-- Title -->
{% block title %} Distance Generator - User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Content -->
{% block content %}

<!-- Start Contect -->

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Distance Generator</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/user/dashboard-user"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Distance Generator</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Distance Generate</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="distance" class="col-form-label col-sm-2"
                  >Coordinate</label
                >
                <div class="col-sm-10 mb-3">
                  <input type="text" class="form-control" placeholder="" />
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                style="margin-top: 20px"
              >
                Generate
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<!-- End Contect -->

{%endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
