<!-- Base -->
{% extends "layouts/base-guest.html" %}

<!-- Title -->
{% block title %} Tourist Attractions - Guest {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Content -->
{% block content %}

<!-- Start Contect -->

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Tourist Attractions</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/guest/dashboard-guest"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Tourist Attractions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- Card -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Culture & History</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">#</th>
                    <th class="text-center align-middle" rowspan="2">
                      Attraction
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Distance (KM)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">Rating</th>
                    <th class="text-center align-middle" rowspan="2">
                      Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star</th>
                    <th class="text-center align-middle">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">Attractions Tempat wisata</td>
                    <td class="text-center">2.790</td>
                    <td class="text-center">15.000</td>
                    <td class="text-center">4,6</td>
                    <td class="text-center">41.684</td>
                    <td class="text-center">4,2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Education & Learning</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">#</th>
                    <th class="text-center align-middle" rowspan="2">
                      Attraction
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Distance (KM)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">Rating</th>
                    <th class="text-center align-middle" rowspan="2">
                      Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star</th>
                    <th class="text-center align-middle">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">Attractions Tempat wisata</td>
                    <td class="text-center">2.790</td>
                    <td class="text-center">15.000</td>
                    <td class="text-center">4,6</td>
                    <td class="text-center">41.684</td>
                    <td class="text-center">4,2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Nature & Recreation</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">#</th>
                    <th class="text-center align-middle" rowspan="2">
                      Attraction
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Distance (KM)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">Rating</th>
                    <th class="text-center align-middle" rowspan="2">
                      Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star</th>
                    <th class="text-center align-middle">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">Attractions Tempat wisata</td>
                    <td class="text-center">2.790</td>
                    <td class="text-center">15.000</td>
                    <td class="text-center">4,6</td>
                    <td class="text-center">41.684</td>
                    <td class="text-center">4,2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Adventure</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle" rowspan="2">#</th>
                    <th class="text-center align-middle" rowspan="2">
                      Attraction
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Distance (KM)
                    </th>
                    <th class="text-center align-middle" rowspan="2">
                      Entry Price
                    </th>
                    <th class="text-center align-middle" colspan="2">Rating</th>
                    <th class="text-center align-middle" rowspan="2">
                      Facility
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center align-middle">Star</th>
                    <th class="text-center align-middle">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">Attractions Tempat wisata</td>
                    <td class="text-center">2.790</td>
                    <td class="text-center">15.000</td>
                    <td class="text-center">4,6</td>
                    <td class="text-center">41.684</td>
                    <td class="text-center">4,2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<!-- End Contect -->

{%endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
