<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard Guest</title>
  </head>
  <body>
    <h1>Dashboard Guest</h1>
    <a href="/">Landing Page</a><br /><br />
    <a href="/guest/dashboard-guest">Dashboard Guest</a> |
    <a href="/guest/tourist-attractions-guest">Tourist Attractions</a> |
    <a href="/guest/weighting-guest">Weighting</a> |
    <a href="/guest/analysis-guest">Analysis</a> |
    <a href="/guest/results-guest">Results</a><br /><br />
    <a href="/accounts/login">Login</a>
  </body>
</html>
