<!-- Base -->
{% extends "layouts/base.html" %}

<!-- Title -->
{% block title %} Manage Users - Admin {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Content -->
{% block content %}

<!-- Start Contect -->

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Manage Users</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/admin/dashboard-admin"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item"><a href="#">Manage Users</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- Card -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Users</h5>
          </div>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center align-middle">#</th>
                    <th class="text-center align-middle">Fullname</th>
                    <th class="text-center align-middle">Username</th>
                    <th class="text-center align-middle">Email</th>
                    <th class="text-center align-middle">Editing</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                    <tr>
                      <td class="text-center">{{ loop.index }}</td>
                      <td class="text-center">{{ user.fullname }}</td>
                      <td class="text-center">{{ user.username }}</td>
                      <td class="text-center">{{ user.email }}</td>
                      <td class="text-center">
                        <button class="btn btn-primary btn-sm disabled">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-sm disabled">
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<!-- End Contect -->

{%endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
