<!-- Base -->
{% extends "layouts/base-user.html" %}

<!-- Title -->
{% block title %} Alternative - User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Content -->
{% block content %}

<!-- Start Contect -->

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Alternative</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/user/dashboard-user"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item"><a href="#">Alternative</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Title</h5>
          </div>
          <div class="card-body">Content</div>
        </div>
      </div>
      <!-- Card -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Title</h5>
          </div>
          <div class="card-body">Content</div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<!-- End Contect -->

{%endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
